[submodule "common"]
	path = common
	url = ../common
[submodule "status"]
	path = status
	url = ../status
[submodule "config"]
	path = config
	url = ../config
[submodule "rsu"]
	path = rsu
	url = ../rsu
[submodule "logic-statements"]
	path = logic-statements
	url = ../logic-statements
[submodule "entities"]
	path = entities
	url = ../entities
